@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900");
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
* {
  box-sizing: border-box; }

.no-pad {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.left {
  height: 300px; }

.profil {
  -webkit-border-radius: 5% 0;
  -moz-border-radius: 5% 0;
  -ms-border-radius: 5% 0;
  border-radius: 5% 0;
  background-image: url(../img/profil.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 30px;
  border: 5px solid #b6bdbf;
  z-index: 9999; }

.right {
  font-family: 'Titillium Web', sans-serif;
  background-color: #414242;
  margin-top: 20px;
  color: #fff; }

.uppercase {
  text-transform: uppercase; }

.name {
  font-weight: bold;
  font-size: 5rem; }

.job {
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  bottom: 15px; }

.biography {
  font-family: 'PT Sans', sans-serif !important; }

.top {
  background-color: #414242; }

.social {
  display: flex;
  margin-top: 70px; }

.social-block {
  display: flex;
  padding-right: 70px; }

.url {
  margin: 5px 10px;
  font-family: 'PT Sans', sans-serif !important;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: #fff; }

.square {
  -webkit-border-radius: 15% 0;
  -moz-border-radius: 15% 0;
  -ms-border-radius: 15% 0;
  border-radius: 15% 0;
  background-color: white;
  width: 35px;
  height: 35px; }

.hover-ico:hover {
  background-color: #b6bdbf; }

.hover-link {
  color: #b6bdbf;
  text-decoration: none; }

.twitter {
  background-image: url(../img/twitter.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.linkedin {
  background-image: url(../img/linkedin.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.viadeo {
  background-image: url(../img/viadeo.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.bg {
  width: 100%; }

.bottom {
  background-image: url(../img/bg.jpg);
  height: 2000px;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: repeat; }

.part-1 {
  margin-top: 70px;
  margin-left: 50px;
  height: 270px; }

.part-2 {
  margin-top: 50px;
  margin-left: 50px;
  height: 270px; }

.part-3 {
  margin-top: 50px;
  margin-left: 50px;
  height: 370px; }

.part-4 {
  margin-top: 50px;
  margin-left: 50px; }

.square-l {
  -webkit-border-radius: 15% 0;
  -moz-border-radius: 15% 0;
  -ms-border-radius: 15% 0;
  border-radius: 15% 0;
  background-color: #414242;
  width: 45px;
  height: 45px; }
  .square-l .ico-formation {
    background-image: url(../img/formation.svg);
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center; }

.title {
  display: flex; }

.verticale-lign {
  margin-left: 20px;
  width: 1px;
  height: 200px;
  background-color: #414242; }

.square-xs {
  -webkit-border-radius: 30%;
  -moz-border-radius: 30%;
  -ms-border-radius: 30%;
  border-radius: 30%;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: #414242; }

.title-1 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: #414242;
  padding-left: 20px; }

.title-2 {
  display: flex;
  color: #2c2c2c;
  font-family: 'Titillium Web', sans-serif; }

.object {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase; }

.annee {
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px; }

.describe {
  color: #414242;
  font-size: 16px; }

.square-xs-1 {
  bottom: 140px;
  left: 15px; }

.square-xs-2 {
  bottom: 70px;
  left: 15px; }

.item-1 {
  position: relative;
  bottom: 180px;
  left: 35px; }

.item-2 {
  position: relative;
  bottom: 150px;
  left: 35px; }

.ico-pro {
  background-image: url(../img/experience.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center; }

.ico-diplome {
  background-image: url(../img/diploma.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center; }

.verticale-lign-3 {
  margin-left: 20px;
  width: 1px;
  height: 280px;
  background-color: #414242; }

.square-xs-3 {
  bottom: 220px;
  left: 15px; }

.item-3 {
  position: relative;
  bottom: 380px;
  left: 35px; }

.ico-competence {
  background-image: url(../img/skills.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center; }

.skills {
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  display: flex;
  padding-top: 30px;
  font-weight: 400;
  padding-left: 40px; }

.skill {
  display: flex;
  flex-direction: column; }

.competences {
  display: flex;
  flex-direction: column; }

.competence {
  padding-top: 5px; }

.circle-check {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #414242;
  margin-left: 5px;
  margin-top: 12px; }

.circle-none {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #d7d9d7;
  margin-left: 5px;
  margin-top: 12px; }

.circle {
  display: flex;
  padding-left: 70px; }

.ico-perso {
  background-image: url(../img/information.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center; }

.inline-info {
  display: flex; }

.info {
  font-family: 'Titillium Web', sans-serif;
  padding-top: 30px;
  padding-left: 50px; }

.perso {
  padding-top: 70px; }

.strong {
  font-weight: bold; }

.none-strong {
  padding-left: 20px; }

.ico-contact {
  background-image: url(../img/contact.svg);
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center; }

.ico-tel {
  background-image: url(../img/smartphone.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.ico-mail {
  background-image: url(../img/mail.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.ico-site {
  background-image: url(../img/site.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.ico-adress {
  background-image: url(../img/place.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.info-contact {
  padding-left: 50px;
  padding-top: 30px; }

.content-contact {
  padding-left: 20px; }

.inline-contact {
  padding-top: 15px; }

.contact {
  padding-top: 50px; }

.price {
  color: #414242;
  padding-top: 50px; }

.ico-price {
  background-image: url(../img/trophy.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.price-describe-an {
  padding-left: 5px; }

.title-price {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold; }

.price-content {
  padding-top: 20px;
  padding-left: 40px; }

.price-info {
  padding-top: 30px; }

.ico-skill {
  background-image: url(../img/skills-2.svg);
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center; }

.part-5 {
  padding-top: 50px; }

.circle-xs {
  display: flex;
  padding-left: 40px; }

.circle-check-xs {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #414242;
  margin-left: 5px;
  margin-top: 12px; }

.circle-none-xs {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #d7d9d7;
  margin-left: 5px;
  margin-top: 12px; }

/*# sourceMappingURL=style.css.map */
